{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}
    <h1>Задачи:</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for tipe in tipes %}
         <div class="box">
            <h3><a href="{% url "tipe_view" tipe.pk %}">{{ tipe.title }}</a></h3>
            <p>Статус: ({{ tipe.status }})</p>
            <p>{{ tipe.author }} | {{ tipe.created_at|date:"d.m.Y H:i:s" }}</p>
            <p>Published at: {{ tipe.publish_at|date:"d.m.Y H:i:s" }}</p>
            <p><a href="{% url 'tipe_update' tipe.pk %}">Update</a></p>
            <p><a href="{% url 'tipe_delete' tipe.pk %}">Delete</a></p>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
