{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'tipe_view' tipe.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить статью "{{ tipe.title }}"?</h1>
    <p>By: {{ tipe.author }} | {{ tipe.created_at }}</p>
    <form action="{% url "tipe_delete" tipe.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'tipe_view' tipe.pk %}">Отмена</a></p>
    </form>
    <h3>Содержимое статьи: </h3>
    <p>{{ tipe.text }}</p>
{% endblock %}
