{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'tipe_update' tipe.pk %}">Update</a></li>
    <li><a href="{% url 'tipe_delete' tipe.pk %}">Delete</a></li>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{{ tipe.title }}</h1>
        <p class="pre">{{ tipe.text }}</p>
        <p>By: {{ tipe.author }} | {{ tipe.created_at|date:"d.m.Y H:i:s" }}</p>
        <p>Published at: {{ tipe.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p>Tags: {% for tag in tipe.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <hr>
    </div>
{% endblock %}
